<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head> 
    <meta charset="'UTF-8">
    <meta name="viewport" content="width=device-withd, initial-scale=1" />
    <title>Fencing Pool Scorecard</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
    <body>
        <h3>Fencing Pool Scorecard</h3>
        <form method="post"> 
            <h4>Fencer Name
            <input type="text" name="username" id="username" required>
            <button type="submit">Save Fencer Name</button>
            </h4>
        </form>   
    </body>
</html>
